@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap);

* {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

main {
    margin-top: 80px;
}

p {
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    min-height: 80px;
    position: fixed; /* Fix the header to the top */
    width: 100%; /* Ensure it takes the full width of the viewport */
    top: 0; /* Position it at the top of the viewport */
    z-index: 1000; /* Ensure it is above other content */
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

nav {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.logo {
    height: 75px;
    width: auto;
}

nav ul li {
    display: flex;
    align-items: center;
    height: 100%;
}

nav ul li a {
    color: black;
    font-size: 25px;
    font-weight: 400;
    text-decoration: none;
    padding: 0 30px; /* Adjust as needed for spacing */
    display: flex;
    align-items: center;
    height: 100%; /* Make a take the full height of the li */
    transition: 0.2s;
}

nav ul li a:hover {
    font-size: 28px;
    color: mediumseagreen;
}

.contactButton button {
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    border: 3px solid mediumseagreen;
    border-radius: 8px;
    color: white;
    background-color: mediumseagreen;
    transition: .3s;
}

.contactButton button:hover {
    cursor: pointer;
}

.top {
    font-size: 32px;
    font-weight: 500;
    padding: 4%;
}

.topTop {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top img {
    width: 4%;
    margin: 3%;
}

.topBottom {
    font-size: large;
    text-align: center;
}

.bottom {
    display: flex;
    flex-wrap: wrap;
}

.left, .right {
    flex: 1;
    padding: 3%;
}

.left {
    border-top: solid mediumseagreen;
    border-left: none;
    border-bottom: none;
    border-right: solid mediumseagreen;
}

.right {
    border-top: solid mediumseagreen;
}

.right p, .left p {
    font-size: 32px;
    text-align: center;
    margin-bottom: 8%;
}

.mainList {
    list-style: none;
}

.mainList li {
    margin-bottom: 24px;
}

.mainList img {
    width: 5%;
    margin-right: 4%;
}

.mainListItem {
    display: flex;
    align-items: center;
}

.notMainList {
    margin-top: 24px;
}

input, textarea {
    background-color: transparent;
    width: 100%;
    padding: 4px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    transition: .05s;
}

input {
    border-top: none;
    border-left: none;
    border-right: none;
}

textarea {
    border-radius: 5px;
}

input:focus{
    outline: 0px;
    border-bottom: 1px solid black;
}

textarea:focus {
    outline: 0px;
    border: 1px solid black;
}

.name {
    display: flex;
    justify-content: space-between;
}

.name .first, .name .last {
    flex: 1;
    margin-right: 10px;
}

.name .last {
    margin-right: 0;
}

main textarea {
    height: 120px;
    max-width: 100%;
    resize: vertical;
}

.customerStatus {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 20px;
    gap: 12px;
    border: none;
}

.customerStatus input {
    width: 50px;
    padding: 0;
    margin: 0;
}

.customerStatus input, .customerStatus label {
    cursor: pointer;
}

form button {
    font-size: 24px;
    font-weight: 600;
    border: 3px solid mediumseagreen;
    border-radius: 8px;
    color: mediumseagreen;
    background-color: transparent;
    transition: .3s;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

form button:hover {
    background-color: mediumseagreen;
    color: white;
    cursor: pointer;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.footer {
    background-color: darkgray;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    font-size: 14px;
}

.footer a {
    color: black;
    text-decoration: none;
}

.footer a:hover {
    font-weight: 500;
    text-decoration: underline;
}

@media (max-width: 768px) {
    nav {
        padding: 0 20px;
    }
    
    .name {
        flex-direction: column;
    }
    
    .name .first, .name .last {
        margin-right: 0;
    }
    
    main {
        padding: 120px 20px 50px;
    }
}