@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap);

* {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

main {
    margin-top: 120px; /* Add margin to offset the fixed header height */
}

header {
    background-color: white;
    position: fixed; /* Fix the header to the top */
    width: 100%; /* Ensure it takes the full width of the viewport */
    top: 0; /* Position it at the top of the viewport */
    z-index: 1000; /* Ensure it is above other content */
}

.smallSect {
    box-sizing: border-box;
    background-color: mediumseagreen;
    height: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    z-index: 1000;
}

.smallSect img {
    height: 18px;
}

.smallAddress, .smallPhone {
    display: flex;
    align-items: center;
    gap: 10px;
}

.smallPhone a, .smallAddress a {
    color: white;
    text-decoration: none;
}

.smallPhone a:hover, .smallAddress a:hover {
    text-decoration: underline;
}

.openImg {
    width: 40px;
}

.open, #sidebarActive {
    display: none;
    cursor: pointer;
}

nav {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1001;
    height: 80px;
    border-bottom: 1px solid lightgray;
}

nav ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

#logoBox {
    display: flex;
}

.logo {
    height: 65px;
    width: auto;
    margin: 4px;
}

nav ul li {
    display: flex;
    align-items: center;
    height: 80px;
}

nav ul li a {
    color: black;
    font-size: 25px;
    font-weight: 400;
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    align-items: center;
    height: 100%;
    transition: 0.2s;
}

nav ul li a:hover {
    font-size: 28px;
    color: mediumseagreen;
    
}

.dropdownProducts {
    display: block;
    position: absolute;
    top: -32px;
    background-color: white;
    border: 1px solid lightgray;
    width: max-content;
    transition: .3s;
    z-index: -999;
}

.dropdownProducts li {
    height: 50px;
    display: flex;
    justify-content: center;
}

#products:hover .dropdownProducts {
    top: 119px;
}

#products {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#products a {
    display: flex;
    align-items: center;
}

.dropdownProducts li a {
    font-size: 16px;
    padding: 15px;
}

.dropdownProducts li a:hover {
    font-size: 16px;
}

.contactButton button {
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    border: 3px solid mediumseagreen;
    border-radius: 8px;
    color: white;
    background-color: mediumseagreen;
    transition: .3s;
    cursor: pointer;
}

#sidebarContact {
    display: none;
}

@media(max-width: 1000px) {
    .open {
        display: block;
    }

    nav ul {
        flex-direction: column;
        position: absolute;
        top: -256%;
        width: 100%;
        background-color: white;
        transition: .5s;
        z-index: -999;
        border-bottom: 1px solid lightgray ;
    }

    nav ul li a{
        padding: 20px;
    }

    #sidebarActive:checked ~ ul {
        display: flex;
        top: 120px;
    }

    .dropdownProducts {
        display: none;
    }

    #products:hover .dropdownProducts {
        display: block;
        position: absolute;
    }
}

@media(max-width: 500px) {
    #topContact {
        display: none;
    }
    #sidebarContact {
        display: block;
    }
}

@media(max-width: 350px){
    .logo {
        height: 50px;
    }
}

.top {
    font-size: 32px;
    font-weight: 500;
    padding: 4%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.top p {
    margin: 0;
}

.top img {
    width: 64px;
}

.topBottom {
    font-size: large;
    text-align: center;
    margin: 0;
}

.bottom {
    display: flex;
    flex-wrap: wrap;
}

.left, .right {
    flex: 1;
    padding: 3%;
}

.left {
    border-right: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
}

.right p, .left p {
    font-size: 32px;
    text-align: center;
    margin-bottom: 8%;
}

.mainlistContainer {
    height: 100%;
    display: flex;
    justify-content: center;
}

.mainList {
    list-style: none;
    padding: 0;
}

.mainList li {
    margin-bottom: 36px;
}

.mainList img {
    width: 5%;
    margin-right: 4%;
}

.mainListItem {
    display: flex;
    align-items: center;
}

.mainListText {
    font-size: larger;
}

.notMainList {
    margin-top: 18px;
    margin-left: 18px;
}


input, textarea {
    background-color: transparent;
    width: 100%;
    padding: 4px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    transition: .05s;
}

input {
    border-top: none;
    border-left: none;
    border-right: none;
}

textarea {
    border-radius: 5px;
}

input:focus{
    outline: 0px;
    border-bottom: 1px solid black;
}

textarea:focus {
    outline: 0px;
    border: 1px solid black;
}

.name {
    display: flex;
    justify-content: space-between;
}

.name .first, .name .last {
    flex: 1;
    margin-right: 10px;
}

.name .last {
    margin-right: 0;
}

main textarea {
    height: 120px;
    max-width: 100%;
    resize: vertical;
}

.customerStatus {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 20px;
    gap: 12px;
    border: none;
}

.customerStatus input {
    width: 50px;
    padding: 0;
    margin: 0;
}

.customerStatus input, .customerStatus label {
    cursor: pointer;
}

form button {
    font-size: 24px;
    font-weight: 600;
    border: 3px solid mediumseagreen;
    border-radius: 8px;
    color: mediumseagreen;
    background-color: transparent;
    transition: .3s;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

form button:hover {
    background-color: mediumseagreen;
    color: white;
    cursor: pointer;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.footer {
    background-color: darkgray;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    font-size: 14px;
}

.footer a {
    color: black;
    text-decoration: none;
}

.footer a:hover {
    font-weight: 500;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .name {
        flex-direction: column;
    }
    
    .name .first, .name .last {
        margin-right: 0;
    }
}