:root {
    font-family: monospace;
    --primary-color: #ac4af2;
    --secondary-color: #dba7fb;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--secondary-color);
}

body {
    background-color: #202020;
}

header {
    position: fixed; /* Fix the header to the top */
    width: 100%; /* Ensure it takes the full width of the viewport */
    top: 0; /* Position it at the top of the viewport */
}

nav {
    font-size: 30px;
    background-color: #353535;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 56px;
    border-bottom: 1px solid gray;
}

#navLeft p {
    color: var(--primary-color);
}

#navRight {
    display: flex;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    cursor: pointer;
    width: 75px;
}

.links img {
    height: 36px;
    transition: height 0.2s;
}

.links:hover img {
    height: 45px;
}

.links:hover .dropDown {
    top: 56px;
    z-index: 1;
}

.dropDown {
    color: var(--primary-color);
    border: solid;
    border-top: 0;
    padding: 16px;
    border-radius: 0 0 16px 16px;
    position: absolute;
    top: -75px;
    text-align: center;
    transition: .3s;
    background-color: #353535;
    z-index: -100;
    cursor: default;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 24px;
}

.dropDown p, .dropDown a {
    color: var(--primary-color);
}

main {
    padding: 56px 100px 100px 100px;
    width: 100%;
}

#titleCont {
    min-height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#titleImg {
    height: 300px;
    width: auto;
    border: solid var(--primary-color);
    border-radius: 75px;
    margin: 50px 0;
}

#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

#title h2 {
    font-size: 50px;
}

#title h1 {
    font-size: 80px;
    color: var(--primary-color);
}

#resumeSect {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#resumeLinks {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    font-size: 28px;
}

#resumeLinks a{
    flex: 1;
}

#viewResume {
    text-align: end;
}

#or {
    font-size: 24px;
    font-weight: bold;
    margin: 24px;
}

#about {
    display: flex;
    align-items: center;
    margin: 50px 0px;
}
#aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

#about h1, #skillsSect h1, #explore, #projectSect h1 {
    font-size: 40px;
    color: var(--primary-color);
}

#about img {
    height: 240px;
    padding: 40px;
    border: solid #2965f1;
    border-radius: 25px;
    margin-left: 5%;
}

#about p, .projectBox p {
    font-size: 20px;
}

#skillsSect {
    margin-bottom: 50px;
}

#skillsSect h1 {
    margin-bottom: 20px;
}

#skillBoxContCont {
    display: flex;
    justify-content: center;
}

#skillBoxCont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 900px;
}

.skillBox {
    border: solid #202020;
    border-radius: 25px;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    transition: ease-out .1s;
}

.skillBox img {
    height: 180px;
    transition: .2s;
    transform: translateY(10px);
    z-index: -1;
}

.skillBox p {
    font-size: 27px;
    color: #202020;
    transition: .2s;
}

.skillBox:hover {
    transition: ease-in .2s;
}
.skillBox:hover img {
    height: 210px;
    transform: translateY(0px);
}

#c:hover {
    border-color: #649ad2;
}
#c:hover p {
    color: #649ad2;
}

#java:hover {
    border-color: #f89820;
}
#java:hover p{
    color: #f89820;
}

#js:hover, #python:hover {
    border-color:#fbd725;
}
#js:hover p, #python:hover p {
    color: #fbd725;
}

#html:hover {
    border-color:#ef642a;
}
#html:hover p {
    color: #ef642a;
}

#css:hover {
    border-color:#2965f1;
}
#css:hover p {
    color: #2965f1;
}

#projectSect {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.projectBox {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
}

.projectLeft, .projectRight {
    width: 100%;
}

.projectLeft {
    padding-left: 50px;
}

.projectRight {
    text-align: center;
}

.projectRight img {
    width: 500px;
    border: solid var(--primary-color);
    border-radius: 5px;
}

.projectBox h2 {
    font-size: 30px;
}

.projectBox h3 {
    font-size: 20px;
}

@media (max-width: 1000px) {
    #titleCont {
        flex-direction: column;
    }
    #title {
        margin-top: 50px;
    }
}
@media (max-width: 800px) {
    #about {
        flex-direction: column;
    }
    #about img{
        margin: 0;
        margin-top: 50px;
    }

    #title {
        height: 300px;
    }
    #title h2 {
        font-size: 48px;
    }
    #title h1 {
        font-size: 64px;
    }
}
@media (max-width: 700px) {
    #resumeLinks {
        font-size: 24px;
    }
}
@media (max-width: 600px) {
    #resumeLinks {
        font-size: 20px;
    }
    #about h1, #skillsSect h1, #explore {
        font-size: 32px;
    }
}
@media (max-width: 500px) {
    #navLeft {
        display: none;
    }

    #title h2 {
        font-size: 36px;
    }
    #title h1 {
        font-size: 48px;
    }

    #resumeLinks {
        font-size: 17px;
    }
    #about h1, #skillsSect h1, #explore {
        font-size: 28px;
    }
}